

/*--------------------
   1. BASE CSS
----------------------*/

@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Lato:400,700|PT+Sans+Narrow:400,700');
.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #212324;
}

a:hover {
    color: #ca3d26;
}

a:focus,
a:hover {
    outline: 0;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
}

html,
body {
    height: 100%
}

body {
    color: #555555;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 1.7em;
}

a:hover {
    text-decoration: none
}

/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.navbar-toggle {
    border: 2px solid #fff;
    border-radius: 0;
}

.navbar-toggle .icon-bar {
    background: #fff none repeat scroll 0 0;
}

.is-sticky .navbar-header .collapse,
.is-sticky .navbar-toggle {
    border: 2px solid #1a1a1a;
}

.is-sticky .navbar-toggle .icon-bar {
    background: #1a1a1a none repeat scroll 0 0;
}

.area-title {
    margin-bottom: 60px;
}

.area-title h2 {
    /*font-family: "Herr Von Muellerhoff", cursive;
    font-family: 'Sacramento', cursive; 
    font-family: 'Great Vibes', cursive;
*/
    color: #ca3d26;
    display: inline-block;
    font-family: "Dancing Script", cursive;
    font-size: 60px;
    letter-spacing: 2px;
    line-height: 0.8;
    margin: 0;
    padding: 0 20px 45px;
    position: relative;
    text-transform: capitalize;
}

.area-title h2::after {
    background: rgba(0, 0, 0, 0) url("img/icons/red.png") no-repeat scroll center center / contain;
    bottom: 0;
    content: "";
    height: 30px;
    left: 0;
    position: absolute;
    width: 100%;
}

.section-padding {
    padding: 100px 0;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.margin-top {
    margin-top: 40px;
}

.margin-bottom {
    margin-bottom: 40px;
}

.gray-bg {
    background: #f3f4f4;
}

/*--------------------------
    2. TOP AREA
---------------------------*/

.top-area {
    height: 100%;
    position: relative;
    width: 100%;
}

.top-social-bookmark {
    float: right;
}

.book-table-popup {
    float: right;
    padding: 5px;
}

.top-social-bookmark ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.top-social-bookmark ul li {
    display: inline;
}

.top-social-bookmark ul li a {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    height: 39px;
    margin: 0 -2.5px;
    padding: 6px;
    text-align: center;
    width: 40px;
}

.top-social-bookmark ul li a:hover {
    background: #fff;
    color: #ca3d26;
}

.top-social-bookmark ul li:last-child a {
    margin-right: -5px;
}

.book-table-popup a {
    background: #ca3d26 none repeat scroll 0 0;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 14px 30px;
}

.book-table-popup a:hover {
    background: #fff none repeat scroll 0 0;
    color: #ca3d26;
}

/*---------------------------------
    2.1 MAINMENU AREA
-----------------------------------*/

.mainmenu-area {
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 9999;
}

.is-sticky .mainmenu-area {
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    z-index: 99999;
}

.mainmenu-area::after {
    background: rgba(0, 0, 0, 0) url("img/icons/tri-promo-bottom-white.png") repeat scroll 0 0;
    bottom: -7px;
    content: "";
    height: 7px;
    left: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
}

.is-sticky .mainmenu-area::after {
    opacity: 1;
}

.navbar-header {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.navbar-brand {
    display: none;
}

.navbar-brand.white {
    display: block;
}

.is-sticky .navbar-brand.white {
    display: none;
}

.is-sticky .navbar-brand {
    display: block;
}

.navbar {
    border-bottom: 0 none;
    border-top: 0 none;
    margin-bottom: 0;
}

ul#nav {
    float: right;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

ul#nav li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 40px 20px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

ul#nav li.active a::before {
    background: #ca3d26 none repeat scroll 0 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

ul#nav li:hover a,
ul#nav li.active a {
    color: #ca3d26;
}

.top-bar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.call-to-action {
    color: #fff;
    text-transform: capitalize;
}

.call-to-action a {
    color: #fff;
    letter-spacing: 1px;
}

.call-to-action p {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 15px;
    margin-top: 7px;
}

.call-to-action i {
    margin-right: 10px;
}

.is-sticky ul#nav li a {
    padding: 30px 20px;
    color: #1a1a1a;
}

.is-sticky ul#nav li.active a,
.is-sticky ul#nav li:hover a {
    color: #ca3d26;
}

.is-sticky .signup-and-login-button ul li {
    padding: 14px 0;
}

.is-sticky .signup-and-login-button ul li a {
    background: #d64332 none repeat scroll 0 0;
    color: #fff;
}

.is-sticky .mainmenu-area {
    background: #ffffff none repeat scroll 0 0;
}

.is-sticky .navbar-header {
    margin-top: -7px;
}

/*-----------------------------------
    2.2 SLIDER AREA
-------------------------------------*/

.header-top-area {
    position: absolute;
    width: 100%;
    z-index: 999;
    text-transform: uppercase;
}

.slider-area {
    font-family: 'Raleway', sans-serif;
    height: 100%;
    width: 100%;
    position: relative;
    font-weight: 900;
    color: #fff;
}

.slider-area h1 {
    font-size: 65px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.slider-area h1 span {
    font-weight: 700;
}

.slider-area h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 82px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.slider-area h3 {
    font-family: lato;
    font-weight: 700;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.slider-area h3 a,
a.home-reservation-button {
    border: 1px solid;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    margin-top: 15px;
    padding: 10px 30px;
}

.slider-area h3 a:hover,
a.home-reservation-button:hover {
    color: #fff;
    background: #ca3d26 none repeat scroll 0 0;
    border-color: #ca3d26;
}

.pogoSlider {
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    padding-bottom: 0;
}

.pogoSlider-slide {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    -webkit-perspective: 1300px;
    perspective: 1300px;
    position: absolute;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 5%
}

.pogoSlider-slide::after {
    background: #000 url("img/pattarn.png") repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

/*----------------------------
    2.3 SEARCH FORM AREA
-----------------------------*/

.search-form-area {
    float: right;
    margin-right: -30px;
    padding: 35px 15px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.is-sticky .search-form-area {
    padding: 25px 15px;
}

a.search-form-trigger {
    color: #fff;
    font-size: 0 !important;
    position: relative;
    width: 30px;
}

.is-sticky a.search-form-trigger {
    color: #1a1a1a;
}

a.search-form-trigger::before {
    content: "\f002";
    font-family: fontawesome;
    font-size: 15px;
    height: 40px;
    margin-right: -15px;
    margin-top: -20px;
    padding-top: 5px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    width: 40px;
    z-index: 99;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.search-form-trigger.search-is-visible::before {
    color: #fff;
    content: "\f067";
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.search-form {
    position: absolute;
    height: 50px;
    width: 100%;
    top: 50px;
    left: 0;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.search-form.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

.search-form form {
    height: 100%;
    width: 100%;
}

.search-form input {
    border-radius: 0;
    border: none;
    background: #272727;
    height: 100%;
    width: 100%;
    padding: 0 5%;
    -webkit-box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, 0.05);
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.search-form input::-webkit-input-placeholder {
    color: #c9cbc4;
}

.search-form input::-moz-placeholder {
    color: #c9cbc4;
}

.search-form input:-moz-placeholder {
    color: #c9cbc4;
}

.search-form input:-ms-input-placeholder {
    color: #c9cbc4;
}

.search-form input:focus {
    outline: none;
}

@media only screen and (min-width: 1024px) {
    .search-form {
        height: 120px;
        top: 100%;
    }
    .search-form input {
        padding: 0 2em;
        font-size: 3.2rem;
        font-weight: 300;
    }
}

.search-form-overlay {
    position: fixed;
    z-index: 2;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    visibility: hidden;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s, -webkit-transform 0.3s 0s;
}

.search-form-overlay.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s, -webkit-transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s, -webkit-transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s, transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s, transform 0.3s 0s, -webkit-transform 0.3s 0s;
}

.no-js .search-form {
    position: relative;
    top: 0;
    opacity: 1;
    visibility: visible;
}

/*----------------------------
    3. ABOUT AREA
------------------------------*/

.about-area {
    background: rgba(0, 0, 0, 0) url("img/about/home_three_about_bg.png") no-repeat scroll center bottom / contain;
    position: relative;
}

.about-area::after,
.about-area::before,
.menus-area::after,
.menus-area::before,
.team-area::after,
.team-area::before,
.gallery-area::after,
.footer-area::after {
    background: rgba(0, 0, 0, 0) url("img/icons/tri-promo-bottom-white.png") repeat scroll 0 0;
    content: "";
    height: 7px;
    left: 0;
    position: absolute;
    top: -7px;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    width: 100%;
    z-index: 9;
}

.about-area::before,
.menus-area::before,
.team-area::before {
    bottom: -7px;
    top: auto;
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
}

.about-author-sign {
    margin-top: 40px;
}

.big-text {
    float: left;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: -4px;
    margin-right: 10px;
    line-height: 1;
}

.about-area .area-title h2 {
    font-size: 80px;
    padding-bottom: 10px;
    position: relative;
}

.about-area .area-title h2 span {
    color: #212324;
    font-family: lato;
    font-size: 48px;
    text-transform: uppercase;
}

.about-area .area-title h2::after {
    display: none;
}

.about-content {
    color: #4a4d4f;
}

a.read-more {
    border: 1px solid;
    color: #ca3d26;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 30px;
    padding: 7px 23px;
    text-transform: uppercase;
}

.read-more:hover {
    background: #ca3d26;
    color: #fff;
    border-color: #ca3d26;
}
